@model Video

@{
    ViewData["Title"] = "Detalhes do Vídeo";
}

<h1 class="mb-4 text-primary">Detalhes do Vídeo</h1>

<div class="card shadow-sm p-4">
    <h4 class="mb-3 text-secondary">Informações do Vídeo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-bold text-muted">
            @Html.DisplayNameFor(model => model.Imovel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Imovel.Descricao)
        </dd>

        <dt class="col-sm-3 fw-bold text-muted">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-9">
            <a href="@Model.Url" target="_blank" class="text-decoration-none">@Model.Url</a>
        </dd>

      
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.IdVideo" class="btn btn-primary px-4">✏ Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary px-4">↩ Voltar</a>
</div>
