@model AiltonConstrutor.Models.Imovel

  

<div class="card-propiedade-detalhe" style="background-image:url(@Model.ImagemUrl)">
    <h2 class="text-white p-4">@Model.Titulo</h2>
</div>
 <div class="card">
     <div class="card-body">
       
         <p>Descrição: <strong>@Model.Descricao</strong></p>
         <p>Valor: @Model.Valor.ToString("C")</p>
         <p>Banheiros: @Model.Banheiros</p>
         <p>Quartos: @Model.Quartos</p>
         <p>Área Gourmet: @(Model.AreaGourmet ? "Sim" : "Não")</p>
         <p>Churrasqueira: @(Model.Churrasqueira ? "Sim" : "Não")</p>
         <p>Piscina: @(Model.Piscina ? "Sim" : "Não")</p>
        <p>Status: @Model.StatusImovel</p>
        <p>Endereço: @Model.Endereco</p>
        <p>metragem: @Model.MetragemImovel</p>

     </div>
 </div>

<h1 class="text-center p-4">Fotos do imovel</h1>

 
<div class="container">
    
        @if (Model.Fotos != null && Model.Fotos.Any())
        {
            @await Html.PartialAsync("_CarrosselFotos", Model.Fotos)
        }
        else
        {
            <p>Este imóvel ainda não possui fotos.</p>
        }


</div>