@model IEnumerable<AiltonConstrutor.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Imóveis</h1>

<p class="mt-4">
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-2"></i>Adicionar Imóvel
    </a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">@item.Titulo</h5>
                </div>
                <div class="card-body">
                    <p><strong>Descrição:</strong> @item.Descricao</p>
                    <p><strong>Quartos:</strong> @item.Quartos | <strong>Banheiros:</strong> @item.Banheiros</p>
                    <p><strong>Área Gourmet:</strong> @(item.AreaGourmet ? "Sim" : "Não")</p>
                    <p><strong>Churrasqueira:</strong> @(item.Churrasqueira ? "Sim" : "Não")</p>
                    <p><strong>Piscina:</strong> @(item.Piscina ? "Sim" : "Não")</p>
                    <p><strong>Valor:</strong> @item.Valor.ToString("C")</p>
                    <p><strong>Metragem:</strong> @item.MetragemImovel m²</p>
                    <p><strong>Endereço:</strong> @item.Endereco</p>
                    <p><strong>Status:</strong> @item.StatusImovel</p>
                    <p><strong>Categoria:</strong> @item.Categoria.CategoriaNome</p>

                    @if (!string.IsNullOrEmpty(item.ImagemThumbnailUrl))
                    {
                        <img src="@item.ImagemThumbnailUrl" class="img-fluid rounded" alt="Imagem do imóvel">
                    }
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.IdImovel">Editar</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdImovel">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdImovel">Excluir</a>
                </div>
            </div>
        </div>
    }
</div>
