@model Imovel

@{
    ViewData["Title"] = "Enviar Foto";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["MensagemErro"]
    </div>
}

@if (ViewData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["MensagemSucesso"]
        <br />
        <a href="@ViewData["LinkImagem"]" target="_blank">Ver imagem</a>
    </div>
}

<form asp-action="EnviarFoto" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="imovelId">Selecione o Imóvel</label>
        @Html.DropDownList("ImovelId", (SelectList)ViewData["ListaImovel"], "Selecione o Imóvel", new { @class = "form-control" })

    </div>
    <div class="form-group">
        <label for="foto">Selecione uma imagem</label>
        <input type="file" class="form-control-file" id="foto" name="foto" accept="image/*" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>

